*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }



.header{
    height: 64px;
    border-bottom: 1px solid #73BE43;
    position: relative;
}

.header::after{
    content: "";
    width: 386px;
    height: 5px;
    background-color: #E9262D;
    position: absolute;
    left: 0;
    top: 64px;
}


.header__container{
    padding: 23px 33px 24px 33px;
}

.header__menu{
    display: flex;
    gap: 31px;
}

.header__menu-burger{
    display: block;
    position: relative;
    width: 32px;
    height: 19px;
}

.header__menu-burger span{
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    top: 8px;
    background-color: #E9262D;
}


.header__menu-burger::after,
.header__menu-burger::before{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    background-color: #E9262D;
}
.header__menu-burger::before{
    top: 16px;
}




.flip-card__container{
    padding: 30px;
}


.flip-card__title{
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
}


.flip-card__items{
    display: flex;
    justify-content: space-around;
    margin: 0 -10px;
}


.flip-card__item{
    width: 300px;
    height: 469px;
    overflow: hidden;
    margin: 0 10px;
    position: relative;
}

.flip-card__front,
.flip-card__back{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: 1px solid #C2C3C6;
    border-radius: 15px;
    padding: 20px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: 1.5s;
    transform-style: preserve-3d;
}

.flip-card__back{
    transform: rotateY(180deg);
}

.flip-card__item:hover .flip-card__front{
    transform: rotateY(180deg);
}

.flip-card__item:hover .flip-card__back{
    transform: rotateY(360deg);
}





.flip-card__front-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: -10px;
}
.flip-card__front-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: -10px;
    color: #69696C;
}

.flip-card__back-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.flip-card__back-text{
    margin-top: -50%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #69696C;
}


.flip-card__control{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.flip-card__control-btn{
    width: 189px;
    padding: 14px 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.flip-card__control-btn:hover{
    opacity: 0.8;
}


.flip-card__control-btn:disabled{
    background: rgba(28, 26, 26, 0.15);
}

.flip-card__control-btn:hover:disabled{
    opacity: 1;
}